@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\000033}}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000320}}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000324}}
a {
  text-decoration: none;
  color: #666666; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000328}}
ul, ol, li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000331}}
body {
  width: 100%;
  /*font-family:"SimHei";*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000338}}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000346}}
input::-webkit-search-cancel-button {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_reset\.scss}line{font-family:\0000350}}
input[type=search]::-ms-clear {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\000034}}
body.add_member {
  background-color: #f0effd; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\000037}}
h3 {
  background: #fafafa;
  width: 100%;
  text-align: center;
  font-weight: normal;
  height: 2.75rem;
  line-height: 2.75rem;
  border-bottom: 2px solid #e0e0e0; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000316}}
ul {
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000319}}
li {
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 0.875rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000326}}
.four_size {
  font-size: 0.4rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000329}}
.four_size_input {
  font-size: 0.37333rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000335}}
li.merchantInfos > p, li.registerInfo > p.merchantImg {
  height: 0.93333rem;
  line-height: 0.93333rem;
  border-bottom: 2px solid #e0e0e0;
  padding: 0 5%;
  font-family: "SimHei"; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000343}}
  li.merchantInfos > p img, li.registerInfo > p.merchantImg img {
    vertical-align: middle;
    margin-right: 0.53333rem;
    width: 0.50667rem;
    height: 0.53333rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000351}}
li .merchantInfo {
  display: flex;
  padding: 0 5%;
  border-bottom: 1px #c5c5c5 solid;
  height: 1.06667rem;
  line-height: 1.06667rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000362}}
  li .merchantInfo label {
    font-family: "SimHei";
    display: inline-block;
    width: 35%;
    height: 1.06667rem;
    line-height: 1.06667rem;
    color: #000000; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000369}}
    li .merchantInfo label i {
      font-size: 0.24rem;
      color: #b9b9b9; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000374}}
  li .merchantInfo input {
    width: 65%;
    height: 1.04rem;
    line-height: 1.04rem;
    text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000382}}
#merchantPersonName {
  width: 30%;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000389}}
.receiveCode a.required {
  color: #e9c259;
  text-decoration: none;
  padding-left: 1.27rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\0000396}}
.codeInfo {
  height: 1.06667rem;
  line-height: 1.06667rem;
  font-size: 0.29333rem;
  padding: 0 5%;
  color: #c5c5c5; }
@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\00003102}}
  .codeInfo img {
    vertical-align: middle;
    margin-right: 0.2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\00003108}}
#next {
  background: #dcdcdc;
  width: 76%;
  height: 1.06667rem;
  font-size: 0.4rem;
  display: block;
  margin: 0.5rem auto;
  color: #ffffff; }

@media -sass-debug-info{filename{font-family:file\:\/\/F\:\/xampp\/htdocs\/business-page\/wea8-31\/sass\/_add_bussiness\.scss}line{font-family:\00003118}}
#next.active {
  background-color: #E9C256; }

li .merchantInfo img {
  display: block;
  width: 0.46667rem;
  height: 0.46667rem;
  margin-top: 0.27333rem;
  margin-left: 0.33333rem;}

/*# sourceMappingURL=_add_bussiness.css.map */
