@charset "UTF-8";
@import "reset";
@import "mixin";
body.add_member{
  background-color: #f0effd;
}
h3{
  background: #fafafa;
  width: 100%;
  text-align: center;
  font-weight: normal;
  height:2.75rem;
  line-height: 2.75rem;
  border-bottom:2px solid #e0e0e0;
}
ul{
  width:100%;
}
li{
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 1px #eeeeee;
  margin-bottom: 0.875rem;
}

.four_size{
  @include px-rem(font-size,30);
}
.four_size_input{
  @include px-rem(font-size,28);
}
li.registerInfo{
}

li.merchantInfos>p,li.registerInfo>p.merchantImg{
  @include px-rem(height,70);
  @include px-rem(line-height,70);
  border-bottom: 2px solid #e0e0e0;
  padding: 0 5%;
  padding-left:0;
  margin-left: 5%;
  font-family:"SimHei";
  img{
    vertical-align: middle;
    @include px-rem(margin-right,40);
    @include px-rem(width,38);
    @include px-rem(height,40);
  }
}

li .merchantInfo{
  display: flex;
  padding: 0 5%;

  padding-left: 0;

  margin-left: 5%;

  border-bottom:1px #c5c5c5 solid ;
  @include px-rem(height,80);
  @include px-rem(line-height,80);
  label{
    font-family: "SimHei";
    display: inline-block;
    width: 35%;
    @include px-rem(height,80);
    @include px-rem(line-height,80);
    color: #000000;
    i{
      @include px-rem(font-size,18);
      color: #b9b9b9;
    }
  }
  input{
    width: 65%;
   @include px-rem(height,78);
    @include px-rem(line-height,78);
    text-align: right;
  }
}

#merchantPersonName{
    width: 30%;
    text-align: center;
}
.receiveCode{}

.receiveCode{
  a.required{
    color:#e9c259;
    text-decoration: none;
    padding-left: 1.27rem;
  }
}

.codeInfo{
  @include px-rem(height,80);
  @include px-rem(line-height,80);
  @include px-rem(font-size,22);
  padding: 0 5%;
  color:#c5c5c5;
  img{
    vertical-align: middle;
    @include px-rem(margin-right,15);
  }
}

#next{
  background:#dcdcdc;
  width: 76%;
  @include px-rem(height,80);
  @include px-rem(font-size,30);
  display: block;
  margin: 0.5rem auto;
  color: #ffffff;

}
#next.active{
  background-color: #E9C256;
}







