@charset "UTF-8";
html,body{
  height: 100%;
  background-color: #F0EFFD;
}
.mtop30{
  @include px-rem("margin-top",30);
}
.btn-submit{
  display: block;
  background-color: #E9C256;
  width: 80%;
  @include px-rem("height",60);
  @include px-rem("line-height",60);
  color: #ffffff;
  margin: 0 auto;
  @include px-rem("margin-top",30);
  @include px-rem("margin-bottom",60);
  border: 0;
  outline: 0;
  @include px-rem("border-radius",5);
  &:focus,&:active{
    outline: none;
  }
}
// 增加信用卡页面提交按钮的样式
.btn-submit2{
  display: block;
  background-color: #E9C256;
  width: 50%;
  @include px-rem("height",180);
  @include px-rem("line-height",180);
  color: #ffffff;
  margin: 0 auto;
  @include px-rem("margin-top",30);
  @include px-rem("margin-bottom",30);
  border: 0;
  outline: 0;
  @include px-rem("border-radius",5);
  &:focus,&:active{
    outline: none;
  }
}
// 模块头部样式
.module-wrapper{
  width: 100%;
  border-bottom:1px solid  #c3c3c3;;
  border-top:1px solid  #c3c3c3;;
  background-color: #ffffff;
  @include px-rem("padding-left",20);
  @include px-rem("padding-right",20);
  @include px-rem("padding-top",5);
  @include px-rem("padding-bottom",5);
  display: flex;
  .img-wrap{
    @include px-rem("width",86);
    @include px-rem("height",89);
    //border: thin solid red;
    //overflow: hidden;
    img{
      width: 70%;
      height: 70%;
      margin: 0;
    }
  }
  .title{
    flex: 1;
    @include px-rem("height",89);
    @include px-rem("line-height",89);
    @include px-rem("font-size",46);
    @include px-rem("padding-left",20);
    .remarks{
      @include px-rem("font-size",32);
      color: #9d9d9d;
    }
  }
}

//预览
.preview-wrapper{
  display: none;
  width: 100%;
  @include px-rem("height",305);
  background-color: #ffffff;
  text-align: center;
  @include px-rem("padding-top",10);
  @include px-rem("padding-bottom",10);
  @include px-rem("margin-top",30);
  img{
    width: 50%;
    margin: 0 auto;
  }
}

// 上传区域
.upload-wrapper{
  background: #fff;
  width: 100%;
  @include px-rem("padding-left",20);
  @include px-rem("padding-right",20);
  @include px-rem("padding-top",20);
  .upload-wrap{
    width: 100%;
    overflow: hidden;
    .upload-item{
      float: left;
      @include px-rem("width",345);
      @include px-rem("padding-top",10);
      @include px-rem("padding-bottom",10);
      //@include px-rem("height",345);
      overflow: hidden;
      margin: 0;
      &:nth-child(odd){
        @include px-rem("margin-right",20);
      }
      .input-wrap{
        width: 100%;
        @include px-rem("height",305);
        cursor: pointer;
	text-align: center;
	background: #EFF0F3 url(../imgs/1.png) no-repeat center center;
        & img{
          width: 100%;
          height:100%;
          margin: 0 auto;
          border: 0;
        }
        &:hover,&:active{
          background-color: #CCCCCC;
        }
        & input{
          display: block;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
      .text{
        margin: 0;
        width: 100%;
        @include px-rem("height",60);
        @include px-rem("line-height",60);
        @include px-rem("font-size",36);
        text-align: center;
      }
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {
  .upload-wrapper {
    .upload-wrap {
      .upload-item {
        @include px-rem("width", 532);
      }
    }
  }
}


//面包屑
.crumbs-wrap{
  width: 100%;
  margin: 0 auto;
  @include px-rem("height",88);
  @include px-rem("line-height",88);
  @include px-rem("padding-left",20);
  @include px-rem("padding-right",20);
  background-color: #ffffff;
  display: flex;
  .back{
    @include px-rem("width",105);
    @include px-rem("font-size",28);
    &:before{
      display: inline-block;
      content: "<";
      @include px-rem("margin-right",20);
    }
  }
  .title{
    flex: 1;
    text-align: center;
    @include px-rem("font-size",32);
  }
  .more{
    //28*6 42*9
    //@include px-rem("width",28);
    @include px-rem("width",105);
    position: relative;
    &:before{
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      content: "";
      @include px-rem("width",28);
      @include px-rem("height",6);
      @include px-rem("margin-top",-3);
      @include bg-image("../imgs/more");
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }

  }
}
@media (-webkit-min-device-pixel-ratio: 3) and (min-device-pixel-ratio: 3) {
  .crumbs-wrap{
    .more{
      //@include px-rem("width",42);
      &:before{
        @include px-rem("width",42);
        @include px-rem("height",9);
        @include px-rem("margin-top",-4);
      }
    }
  }
}
